.container {
    font-family: Arial, sans-serif;
  }
  
  .poll-title {
    font-size: 24px;
    color: red;
  }
  
  ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренний отступ у списка */
  }
  
  li {
    margin-bottom: 10px; /* Увеличиваем расстояние между элементами списка */
  }
  
  input[type="radio"] {
    margin-right: 10px; /* Увеличиваем расстояние между кружочком и текстом */
  }
  